:root {
    --softred: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dbrown: hsl(25, 47%, 15%);
    --mbrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --vporange: hsl(33, 100%, 98%);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: DM Sans;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--cream);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.header,.graph-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: var(--softred);
    border-radius: 1rem;
    padding: 1.3rem;
    margin-bottom: 1rem;
}

.header .balance {
    color: var(--vporange);
}

.balance p {
    padding-bottom: .5rem;
}

.card {
    background-color: var(--vporange);
    border-radius: 1rem;
    padding: 1.3rem;
}

.graph-body h1 {
    font-size: 1.4rem;
    color: var(--dbrown);
}

.graph {
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cream);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: .1rem;
}

.graph .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    position: relative;
}

.graph .col span {
    display: inline-block;
}

.graph .col span:nth-child(2) {
    width: 2rem;
    background-color: var(--softred);
    border-radius: .5rem;
}

.graph .col .mon {
    height: 3.2rem;
}

.graph .col .tue {
    height: 6.6rem;
}

.graph .col .wed {
    background-color: var(--cyan) !important;
    height: 11rem;
}

.graph .col .thu {
    height: 5.4rem;
}

.graph .col .fri {
    height: 3.8rem;
}

.graph .col .sat {
    height: 8.7rem;
}

.graph .col .sun {
    height: 5rem;
}

.graph .col .mon:hover,
.graph .col .tue:hover,
.graph .col .wed:hover,
.graph .col .thu:hover,
.graph .col .fri:hover,
.graph .col .sat:hover,
.graph .col .sun:hover {
    opacity: .5;
    cursor: pointer;
}

.graph .col span:nth-child(3) {
    color: var(--mbrown);
}

.active {
    background-color: var(--dbrown);
    color: var(--vporange);
    border-radius: .5rem;
    padding: .5rem;
    position: absolute;
    z-index: 1;
    top: -2.5rem;
    opacity: 0;
}

.graph-footer {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.graph-footer h2 {
    font-size: 2rem;
}

.graph-footer p {
    color: var(--mbrown);
}

.last {
    text-align: right;
}

b {
    color: var(--dbrown);
}

@media (min-width: 600px) {
    .graph-body h1 {
        font-size: 2rem;
    }

    .graph .col span:nth-child(2) {
        width: 3rem;
    }

    .graph {
        gap: .8rem;
    }

    .graph-footer h2 {
        font-size: 2.3rem;
    }

}